body {
  background-color: black;
  color: #acacac;
}

ul {
  list-style-type: none;
}

.comments__wrapper > ul {
  padding: 0;
}

.comments__headline,
.comments__sorting {
  display: inline-block;
}

.comments__sorting {
  margin-left: 2rem;
}

.comments__sorting > .sorting li {
  display: inline-block;
}

.comments__wrapper {
  background-color: #17171A;
}

.single-comment__panel {
  display: flex;
}

.single-comment__wrapper.hide-form + .single-comment__form-wrapper {
  display: none;
}

.single-comment__wrapper {
  width: 35rem;
  display: inline-flex;
  align-items: center;
}

.single-comment__comment-wrapper {
  flex: 1;
}

.single-comment__img-mock {
  width: 2.5rem;
  height: 2.5rem;
  background-color: red;
  border-radius: 30px;
  border: 1px solid black;
}

.single-comment__data {
  flex: 1;
  color: #737377;
}

.single-comment__data > * {
  display: inline-block;
}

.single-comment__likes {
  flex-basis: 15%;
}

.single-comment__likes.likes > * {
  display: inline-block;
}

